body {
  margin: 40;
  padding: 0;
  font-family: sans-serif;
  color: #02A676;
  background: #086970;
}

.jumbotron {
  background-color:#112F41;
}

.user-details {
  padding: 10px;
  background: #086970;
  border-radius: 10px;
  

}

ul {
  list-style: none;
}
.char-name {
  color: #FF6138;
}