body {
  margin: 40;
  padding: 0;
  font-family: sans-serif;
  color: rgb(219, 10, 10);
  background: #193441;
}

.jumbotron {
  background-color: rgba(18, 74, 112, 0.945) ;
}

.user-details {
  padding: 10px;
  background: #6C5B7B;
  border-radius: 10px;
  

}

ul {
  list-style: none;
}
.char-name {
  color: yellow;
}